/* .left_and_middle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
} */

.wrapper{
  display: flex;
  min-height: 100vh;
  padding-top: 3em;
  padding-bottom: 2em;
  align-items: stretch;
}

.content-box{
  margin-left: 200px;
  width: 100%;
  height: 100%;
}

.bottom{
  margin-top: -2em;
}

a{
  color: black;
}