#carouselExampleControls{
    background-color:rgba(0,0,0,0.16);
    max-height: 60vh;
}

.carousel-item{
    height: 60vh;
width: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-img{
object-fit: contain;
height: 100%;
width: 100%;
}