.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
	.text-center .subtotal{
		text-align: start;
	}

    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:100%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.product-info-row{
    margin-left: 0;
	/* height: 100px; */
	/* width: 30vw; */
} 

#cart img{
    height: 100%;
    object-fit: contain;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
}

.cart-image-holder{
height: 100px;
}