.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.login-row{
    justify-content: space-around;
width: 100%;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box-center{
    margin-left: 0;
}

.dash-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top{
    border: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}