.wanted_row, .link_container{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wanted_row{
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px dashed lightgray;
}

a {
    flex-grow: 1;
}

.link_container > img{
    height: 100px;
    object-fit: contain;
}

.wanted_row > button{
    margin: 0 15px;
}

.fav_price > span{
    font-size: 2em;
    font-weight: 600;
}

.fav_title{
    flex-grow: 1;
    margin-left: 10px;
}

.wanted_header{
color: white;
background-color: green;
padding: 5px;
border-radius: 5px;
}