.leftBarList{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.leftBarElem{
  width: 100%;
}

#sidebar {
  /* min-width: 250px;
  max-width: 250px; */
  width: 200px;
  position: fixed;
  min-height: 100vh;
  transition: all 0.3s;
  padding: 10px;
}

.sidebar-header{
  background: #7386D5;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}