ul{
    padding-inline-start: 0;
    list-style-type: none;
}
.menu-icon{
    width:2em;
    height: 2em;
}
.menu-list{
    background-color: white;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 0;
}

.searchForm{
    display: flex;
    flex-wrap: row;
}