.s_p_container{
    min-width: 200px;
    width: 20vw;
    display:inline-flex;
    margin: 10px;
}

.s_p_container:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.s_p_image{
    height: 30vh;
    object-fit: cover;
}

.card-rating{
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.subtitle-placeholder{
    height: 1.125rem;
}

.s_p_pricerow{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.s_p_price{
    /* padding: .375rem .75rem; */
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
}