.product-grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [left] 66% [middle] 33% [right];
}

.enviroment, .commerce{
    padding: 5px;
}

.watering, .lighting, .soil{
    margin-bottom: 5px;;
}

.watering-active{
color: white;
background-color: #7386d5;
border-radius: 0.2em;
}

.watering{
    padding: 5px;
    border: 1px solid #7386d5;
    border-radius: 7px;
}

.lighting-active{
    background-color: yellow;
    border-radius: 0.2em;
}

.lighting{
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 7px;
}

.soil{
    padding: 5px;
    border: 1px solid rgb(231, 181, 17);
    border-radius: 7px;
}

.soil-active{
    background-color: rgb(231, 181, 17);
    border-radius: 0.2em;
}

.enviroment-element{
    margin-bottom: 0.5em;
}

.rating{
    color: royalblue;
}

.bottom_block{
    padding: 5px 20px;
    grid-column-start: left;
    grid-column-end: right;
}