.search_filter_row{
    display: flex;
    flex-direction: row;
    
}

.content-box-center{
    margin-left: 0;
}
.content-search{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [left] auto [middle] 220px [right];
}
